<%- include('./partials/head.ejs') %>

<header class="searchContainer">
    <h1>Rijks-Online</h1>
    <p>Zo te zien ben je offline, probeer anders de pagina nogmaals te refreshen.</p>
</header>

<%- include('./partials/footer.ejs') %>